@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

/* Colour Guide:
0054D2 - Blue
FF5F2D - Orange
F7F5F5 - White
252525 - Black */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
}

/* Nav */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li.nav {
    float: left;
    padding-right: 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover nav {
    background-color: #111;
} */

/* Backgrounds */

.orange-background {
    background-color: #FF5F2D;
}

.blue-background {
    background-color: #0054D2;
}

.white-background {
    background-color: #F7F5F5;
}

.grey-background {
    background-color: #252525;
}

.sand-background {
    background-color: #EBCAB1;
}

.beige-background {
    background-color: #FFECD9;
}

.teal-background {
    background-color: #11234A;
}

/* Text */

hr {
    border-color: #fdfdfd;
}

a {
    color: #0054D2;
    text-decoration: none;
}

a:hover,
a:focus {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: underline;
    outline: none;
}

a.project {
    color: #393939;
    text-decoration: none;
}

a.project:hover,
a.project:focus {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    outline: none;
}

.underline {
    text-decoration: underline;
}

.white-text {
    color: #F7F5F5
}

.blue-text {
    color: #0054D2
}

.dark-blue-text {
    color: #001C5A
}

.green-text {
    color: #78CB8C
}

.grey-text {
    color: #393939
}

.light-grey-text {
    color: #979797
}

.light-text {
    font-weight: 200;
}

.heavy-text {
    font-weight: 750;
}

.heaviest-text {
    font-weight: 1000;
}

.serif-text {
    font-family: 'Roboto Serif', sans-serif;
}

.huge-text {
    font-size: 100px;
}

.large-text {
    font-size: 80px;
}

.medium-text {
    font-size: 40px;
}

.small-text {
    font-size: 30px;
}

.smaller-text {
    font-size: 20px;
    line-height: 30px;
}

.smallest-text {
    font-size: 18px;
    line-height: 27px;
}


.align-center {
    text-align: center;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.clear{
    clear:both;
}

/* Padding & Margins */

li:not(:last-child) {
    margin-bottom: 10px;
}

.full-width {
    max-width: 100%;
}

.three-quarters-width {
    width: 75%;
    margin: auto;
}

.half-width {
    width: 50%;
    margin: auto;
}

.flex-width {
    width: 40%;
    margin: auto;
}

@media (max-width: 1500px) {
    .flex-width {
        width: 60%;
        margin: auto;
    }
}

@media (max-width: 991px) {
    .flex-width {
        width: 80%;
        margin: auto;
    }
}

.padding-100 {
    padding: 100px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-left-100 {
    padding-left: 500px;
}

.padding-40 {
    padding: 40px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 40px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.no-margin {
    margin: 0px;
}

.center-content {
    justify-content: center;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.baseline {
    vertical-align: baseline;
    margin-top: 23px
}

/* Containers */

.small-container {
    border-style: solid;
    border-color: #ffff;
    background-color: #ffff;
    padding: 20px;
    width: 95%;
    transition: 0.3s;
    /* -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%); */
}

.small-container:hover {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
}

/* Images */

.showcase-image {
    width: min(100%, 750px);
}